h3{
    color:blue
}
body{
    background-color: rgb(151, 232, 215);
}
button{
    color: brown;
    background-color: rgb(61, 42, 78);
}
#heading4 {
    color: rgb(49, 171, 49);
}
body{
    text-align: center;
}